/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 8 ene. 2024, 18:47:10
    Author     : Joel
*/

.new{
    font-size: 150px;
    color: red;
    found-color:red;
}
.new2{
    font-size: 150px;
}
